/* @use '../assets' as a;
body{
    font-family: 'Roboto', sans-serif;
}
.register{
    height: 100vh;
    display: flex;
    flex-direction: column;
    nav{
        height: a.$navbarHeight;
        background-color: a.$blueColor;
        display: flex;
        align-items: center;

        span{
            font-size: a.$fontMedium;
            color: a.$whiteColor;
            margin-left: 10px;
           font-family: a.$fontFamily;
        }
    }
    .login__container{
 max-width: a.$max-width;
 min-height: a.$min-height;
 width: auto;
 border: 1px solid a.$bordedrColorContainer;
 margin: auto 0.5rem;
 align-self: center;

 .login__head{
     background-color: a.$login__headbackColor;
     height: a.$login__headHeight;
     display: flex;
     align-items:center ;
 border-bottom: 2px solid a.$loginBorderBottomColor;
 padding-left: 0.5rem;
 color: #2f06b8;
 font-weight: 700;
           font-family: a.$fontFamily;
           font-size: a.$fontSmall;

 }
 
.login_form__container{
    display: flex;
    height: 100%;
    .login_form__image__container{
       width: 10rem;
       align-self: center;
      
      
      
    }
   .form{
        align-self: center;
    
   }
}
    }
     .login_container_form{
            padding: 1.5rem 0.5rem;
            label{
                margin-right: 0.5rem;
                font-size: a.$fontExtraSmall;
                font-weight: 500;
            }
            input{
                outline: none;
                height: 25px!important;
                margin-right: 1.3rem;

            }
        }
         .login_container_form2{
            // padding: 1.5rem 0.5rem;
            label{
                margin-right: 0.5rem;
                margin-left: 2.4rem;
                font-size: a.$fontExtraSmall;
                font-weight: 500;
            }
            input{
                outline: none;
                height: a.$LInputHeight;
                margin-right: 1.3rem;

            }
        }
        .forgot_password{
            font-size:a.$fontExtraSS;
            text-align: center;
            text-decoration: underline;
            color: a.$blueColor;
            font-family: a.$fontFamily;
            margin-top: 1rem;
        }
     .submit{
         width: 100%;
          display: flex;
            justify-content: center;
            margin-top: 1rem;
            button{
           
            width: a.$Swidth;
            height: a.$Sheight;
            background-color: a.$blueColor;
            border: none;
            border-radius: 3px;
            color: a.$whiteColor;
            font-family: a.$fontFamily;
            font-size: a.$fontExtraSmall;
        }
     }
} */

/* // @use '../assets' as a;
// body{
//     font-family: 'Roboto', sans-serif;
// }
// .login{
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     nav{
//         height: a.$navbarHeight;
//         background-color: a.$blueColor;
//         display: flex;
//         align-items: center;

//         span{
//             font-size: a.$fontMedium;
//             color: a.$whiteColor;
//             margin-left: 10px;
//            font-family: a.$fontFamily;
//         }
//     }
//     .login__container{
//  max-width: a.$max-width;
//  min-height: a.$min-height;
//  width: auto;
//  border: 1px solid a.$bordedrColorContainer;
//  margin: auto 0.5rem;
//  align-self: center;

//  .login__head{
//      background-color: a.$login__headbackColor;
//      height: a.$login__headHeight;
//      display: flex;
//      align-items:center ;
//  border-bottom: 2px solid a.$loginBorderBottomColor;
//  padding-left: 0.5rem;
//  color: #2f06b8;
//  font-weight: 700;
//            font-family: a.$fontFamily;
//            font-size: a.$fontSmall;

//  }
 
// .login_form__container{
//     display: flex;
//     height: 100%;
//     .login_form__image__container{
//        width: 10rem;
//        align-self: center;
      
      
      
//     }
//    .form{
//         align-self: center;
    
//    }
// }
//     }
//      .login_container_form{
//             padding: 1.5rem 0.5rem;
//             label{
//                 margin-right: 0.5rem;
//                 font-size: a.$fontExtraSmall;
//                 font-weight: 500;
//             }
//             input{
//                 outline: none;
//                 height: a.$LInputHeight;
//                 margin-right: 1.3rem;

//             }
//         }
//          .login_container_form2{
//             // padding: 1.5rem 0.5rem;
//             label{
//                 margin-right: 0.5rem;
//                 margin-left: 2.4rem;
//                 font-size: 1rem;
//                 font-weight: 500;
//             }
//             input{
//                 outline: none;
//                 height: a.$LInputHeight;
//                 margin-right: 1.3rem;

//             }
//         }
//         .forgot_password{
//             font-size: a.$fontExtraSS;
//             text-align: center;
//             text-decoration: underline;
//             color: a.$blueColor;
//             font-family: a.$fontFamily;
//             margin-top: 1rem;
//         }
//      .submit{
//          width: 100%;
//           display: flex;
//             justify-content: center;
//             margin-top: 1rem;
//             button{
           
//             width: a.$Swidth;
//             height: a.$Sheight;
//             background-color: a.$blueColor;
//             border: none;
//             border-radius: 3px;
//             color: a.$whiteColor;
//             font-family: a.$fontFamily;
//             font-size: a.$fontExtraSmall;
//         }
//      }
// } */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
           
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21;
    
}

main {
    height: 90vh;
    width: 100vw;
    position: relative;
    margin: 0 auto;
}

footer {
    height: 10vh;
    background-color: #ffffff;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.colm-logo {
    flex: 0 0 50%;
    text-align: left;
}

.colm-form {
    flex: 0 0 40%;
    text-align: center;
}

.colm-logo img {
    max-width: 400px;
}

.colm-logo h2 {
    font: 26px;
    font-weight: 400;
    padding: 0 30px;
    line-height: 32px;
}

.colm-form .form-container {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    max-width: 400px;
}

.colm-form .form-container input, .colm-form .form-container .btn-login {
    width: 100%;
    margin: 5px 0;
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
}

.colm-form .form-container input {
    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 0 8px;
    outline: none;
}

.colm-form .form-container input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.colm-form .form-container .btn-login {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
}

.colm-form .form-container a {
    display: block;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 20px;
    border-bottom: 1px solid #dadde1;
}

.colm-form .form-container a:hover {
    text-decoration: underline;
}

.colm-form .form-container .btn-new {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px; 
}

.colm-form p {
    font-size: 14px;
}

.colm-form p a {
    text-decoration: none;
    color: #1c1e21;
    font-weight: 600;
}

.colm-form p a:hover {
    text-decoration: underline;
}

.footer-contents {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

footer ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
}

footer ol:first-child {
    border-bottom: 1px solid #dddfe2;
}
           
footer ol:first-child li:last-child button {
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    outline: none;
    color: #4b4f56;
    padding: 0 8px;
    font-weight: 700;
    font-size: 16px;
}

footer ol li {
    padding-right: 15px;
    font-size: 12px;
    color: #385898;
}

footer ol li a {
    text-decoration: none;
    color: #385898;
}

footer ol li a:hover {
    text-decoration: underline;
}

footer small {
    font-size: 11px;
}
@media only screen and (max-width: 700px) {

    .colm-logo{
        display: none;
    }
    .colm-form {
        flex: 0 0 90%;
        text-align: center;
        
    }
  
  }