.fw{
    font-weight: 600;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
}
.color{
    color: #0099ff;
}


.mybtn{
    background-color: #0099ff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: 500;
    color: #ffffff;
    outline: none;
    /* cursor: pointer; */
}

