$blueColor:blue;
$whiteColor:#fff;
$bordedrColorContainer:#d1cfcb;
$navbarHeight:50px;
$fontMedium:1.5rem;
$fontSmall:1.2rem;
$fontExtraSmall:1rem;
$fontExtraSS:0.8rem;
$LInputHeight:25px!important;
$login__headbackColor:#e6e4e1;
$fontFamily:'Lato', sans-serif;
$fontBlueHead:#2f06b8;
$loginBorderBottomColor:#d1cfcb;
$login__headHeight:35px;
$max-width: 30rem;
 $min-height: 15rem;
$Swidth: 80px;
$Sheight: 30px;